<a href="https://colab.research.google.com/github/kstatimiznakomi/1LabMathStat2024/blob/main/3hw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## HW

Датасет содержит в себе данные работников, сколько им лет, департамент, образование и т.д.

**Расшифровка по значениям:**
- Education - Образование (1='Below College', 2='College', 3='Bachelor', 4='Master', 5='Doctor')

- EnvironmentSatisfaction - Удовлетворенность окружающей средой (1='Low', 2='Medium', 3='High', 4='Very High')

- JobInvolvement - Вовлеченность в работу (1='Low', 2='Medium', 3='High', 4='Very High')

- JobSatisfaction - Удовлетворенность работой (1='Low', 2='Medium', 3='High', 4='Very High')

- PerformanceRating - Рейтинг производительности (1='Low', 2='Good', 3='Excellent', 4='Outstanding')

- RelationshipSatisfaction - Удовлетворенность отношениями (1='Low', 2='Medium', 3='High', 4='Very High')

- WorkLifeBalance - Баланс между работой и личной жизнью (1='Bad', 2='Good', 3='Better', 4='Best')

### HW. Блок Pandas. Задача 1

- Вам дан датасет **hr-analysis-prediction.csv**
- Импортируйте pandas и напишите краткий алиас **pd**
- Прочитайте датасет hr-analysis-prediction.csv и запишите его в виде DataFrame в переменную **df**
- Представьте, что датасет лежит в той же папке, что и ваш код.

In [ ]:
# ваш код

import pandas as pd

df = pd.read_csv("/hr_analysis_prediction.csv")
print(df)

      Age Attrition     BusinessTravel  DailyRate              Department  \
0      41       Yes      Travel_Rarely       1102                   Sales
1      49        No  Travel_Frequently        279  Research & Development
2      37       Yes      Travel_Rarely       1373  Research & Development
3      33        No  Travel_Frequently       1392  Research & Development
4      27        No      Travel_Rarely        591  Research & Development
...   ...       ...                ...        ...                     ...
1465   36        No  Travel_Frequently        884  Research & Development
1466   39        No      Travel_Rarely        613  Research & Development
1467   27        No      Travel_Rarely        155  Research & Development
1468   49        No  Travel_Frequently       1023                   Sales
1469   34        No      Travel_Rarely        628  Research & Development

      DistanceFromHome  Education EducationField  EmployeeCount  \
0                    1        2.0  Life Sciences              1
1                    8        1.0  Life Sciences              1
2                    2        NaN          Other              1
3                    3        4.0  Life Sciences              1
4                    2        1.0        Medical              1
...                ...        ...            ...            ...
1465                23        2.0        Medical              1
1466                 6        1.0        Medical              1
1467                 4        3.0  Life Sciences              1
1468                 2        3.0        Medical              1
1469                 8        3.0        Medical              1

      EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
0                  1  ...                         1            80
1                  2  ...                         4            80
2                  4  ...                         2            80
3                  5  ...                         3            80
4                  7  ...                         4            80
...              ...  ...                       ...           ...
1465            2061  ...                         3            80
1466            2062  ...                         1            80
1467            2064  ...                         2            80
1468            2065  ...                         4            80
1469            2068  ...                         1            80

      StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
0                    0                8.0                      0
1                    1               10.0                      3
2                    0                7.0                      3
3                    0                8.0                      3
4                    1                6.0                      3
...                ...                ...                    ...
1465                 1               17.0                      3
1466                 1                9.0                      5
1467                 1                6.0                      0
1468                 0               17.0                      3
1469                 0                6.0                      3

     WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
0                  1               6                  4
1                  3              10                  7
2                  3               0                  0
3                  3               8                  7
4                  3               2                  2
...              ...             ...                ...
1465               3               5                  2
1466               3               7                  7
1467               3               6                  2
1468               2               9                  6
1469               4               4                  3

      YearsSinceLastPromotion  YearsWithCurrManager
0                           0                     5
1                           1                     7
2                           0                     0
3                           3                     0
4                           2                     2
...                       ...                   ...
1465                        0                     3
1466                        1                     7
1467                        0                     3
1468                        0                     8
1469                        1                     2

[1470 rows x 35 columns]

### HW. Блок Pandas. Задача 2

- Вам дан датасет **hr-analysis-prediction.csv**
- Пусть ваш датасет уже записан в переменную **df** из прошлого задания (заново прописывать не нужно)
- Создайте переменную **result_1** и присвойте ей использование метода из pandas с выводом информации о датасете **df**: типы данных по каждому столбцу, а также пропуски при помощи **ОДНОГО метода**.
- Создайте переменную **result_2** и присвойте ей использование метода из pandas с выводом информации только о размере датасете **df** (должен быть тип tuple)

In [ ]:
# ваш код

result1 = df.info()
result2 = df.shape
print(result2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1464 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1328 non-null   float64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1429 non-null   float64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: float64(2), int64(24), object(9)
memory usage: 402.1+ KB
(1470, 35)

### HW. Блок Pandas. Задача 3

- Вам дан датасет **hr-analysis-prediction.csv**
- Пусть ваш датасет уже записан в переменную **df** (заново прописывать не нужно)
- Создайте переменную **median_daily** и присвойте ей значение медианы признака **DailyRate** из датасета **df** (должен быть тип float)
- Создайте переменную **median_distance** и присвойте ей значение медианы признака **DistanceFromHome** из датасета **df** (должен быть тип float)
- Создайте переменную **median_monthly** и присвойте ей значение медианы признака **MonthlyIncome** из датасета **df** (должен быть тип float)
- Создайте переменную **mean_income** и присвойте ей значение среднего размера зарплаты (признак **MonthlyIncome**) для работников из департамента **Human Resources**. Департамент - признак **Department** (должен быть тип float)

In [ ]:
# ваш код

median_daily = df['DailyRate'].median()
median_distance = df['DistanceFromHome'].median()
median_monthly = df['MonthlyIncome'].median()
mean_income = df[df['Department'] == 'Human Resources']['MonthlyIncome'].mean()
print("median_daily:", median_daily)
print("median_distance:", median_distance)
print("median_monthly:", median_monthly)
print("mean_income:", mean_income)

median_daily: 802.0
median_distance: 7.0
median_monthly: 4919.0
mean_income: 6654.507936507936

### HW. Блок Pandas. Задача 4

- Вам дан датасет **hr-analysis-prediction.csv**
- Пусть ваш датасет уже записан в переменную **df** (заново прописывать не нужно)
- Создайте переменную **median_group**
- Присвойте переменной **median_group** результат группировки датасета **df** по полям **Department** и **EducationField**, в качестве функции агрегации выберите медиану по полям **Age** и **DistanceFromHome** (должен быть тип DataFrame)

In [34]:
# ваш код

median_group = df.groupby(['Department', 'EducationField'])[['Age', 'DistanceFromHome']].median()
print(median_group)

                                          Age  DistanceFromHome
Department             EducationField
Human Resources        Human Resources   36.0               6.0
                       Life Sciences     41.0               4.5
                       Medical           42.0               6.0
                       Other             37.0               8.0
                       Technical Degree  34.5               5.0
Research & Development Life Sciences     36.0               7.0
                       Medical           36.0               7.0
                       Other             35.5               7.5
                       Technical Degree  35.5               5.0
Sales                  Life Sciences     36.0               7.0
                       Marketing         36.0               8.0
                       Medical           34.0               6.0
                       Other             31.0               5.0
                       Technical Degree  33.0               8.0

### HW. Блок Pandas. Задача 5


- Вам дан датасет **hr-analysis-prediction.csv**
- Пусть ваш датасет уже записан в переменную **df** (заново прописывать не нужно)
- Создайте переменную **median_group**
- Присвойте переменной **median_group** результат группировки датасета **df** по полям **Department, EducationField** и **Attrition**, в качестве функции агрегации выберите медиану по полю **MonthlyIncome** (должен быть тип DataFrame)

In [35]:
# ваш код

median_group = df.groupby(['Department', 'EducationField', 'Attrition'])['MonthlyIncome'].median().to_frame()
print(median_group)

                                                   MonthlyIncome
Department             EducationField   Attrition
Human Resources        Human Resources  0                 6212.0
                                        1                 2335.0
                       Life Sciences    0                 4490.0
                                        1                 2741.0
                       Medical          0                 4936.0
                                        1                 6315.0
                       Other            0                 4071.0
                       Technical Degree 0                 3509.5
                                        1                 2653.0
Research & Development Life Sciences    0                 4768.5
                                        1                 2725.0
                       Medical          0                 4722.0
                                        1                 3388.0
                       Other            0                 4107.0
                                        1                 2693.0
                       Technical Degree 0                 4538.0
                                        1                 2601.5
Sales                  Life Sciences    0                 6120.0
                                        1                 6172.0
                       Marketing        0                 6180.0
                                        1                 5744.0
                       Medical          0                 5583.0
                                        1                 4784.0
                       Other            0                 4999.0
                                        1                 4644.0
                       Technical Degree 0                 6604.5
                                        1                 3055.5

### HW. Блок Pandas. Задача 6


- Вам дан датасет **hr-analysis-prediction.csv**
- Пусть ваш датасет уже записан в переменную **df** (заново прописывать не нужно)
- Создайте переменную **fill_data**
- Присвойте переменной **fill_data** результат заполнения датасета **df** **модой** (для каждого признака должно быть свое значение моды)
- Так как может быть несколько мод у тех или иных признаков, возьмите моду с индексом 0 (то есть первое попавшееся значение)
- По итогу переменная **fill_data** должна иметь тип DataFrame (по сути заполненный df)

In [36]:
# ваш код

fill_data = df.fillna(df.mode().iloc[0])
print(fill_data)

      Age  Attrition     BusinessTravel  DailyRate              Department  \
0      41          1      Travel_Rarely       1102                   Sales
1      49          0  Travel_Frequently        279  Research & Development
2      37          1      Travel_Rarely       1373  Research & Development
3      33          0  Travel_Frequently       1392  Research & Development
4      27          0      Travel_Rarely        591  Research & Development
...   ...        ...                ...        ...                     ...
1465   36          0  Travel_Frequently        884  Research & Development
1466   39          0      Travel_Rarely        613  Research & Development
1467   27          0      Travel_Rarely        155  Research & Development
1468   49          0  Travel_Frequently       1023                   Sales
1469   34          0      Travel_Rarely        628  Research & Development

      DistanceFromHome  Education EducationField  EmployeeCount  \
0                    1        2.0  Life Sciences              1
1                    8        1.0  Life Sciences              1
2                    2        3.0          Other              1
3                    3        4.0  Life Sciences              1
4                    2        1.0        Medical              1
...                ...        ...            ...            ...
1465                23        2.0        Medical              1
1466                 6        1.0        Medical              1
1467                 4        3.0  Life Sciences              1
1468                 2        3.0        Medical              1
1469                 8        3.0        Medical              1

      EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
0                  1  ...                         1            80
1                  2  ...                         4            80
2                  4  ...                         2            80
3                  5  ...                         3            80
4                  7  ...                         4            80
...              ...  ...                       ...           ...
1465            2061  ...                         3            80
1466            2062  ...                         1            80
1467            2064  ...                         2            80
1468            2065  ...                         4            80
1469            2068  ...                         1            80

      StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
0                    0                8.0                      0
1                    1               10.0                      3
2                    0                7.0                      3
3                    0                8.0                      3
4                    1                6.0                      3
...                ...                ...                    ...
1465                 1               17.0                      3
1466                 1                9.0                      5
1467                 1                6.0                      0
1468                 0               17.0                      3
1469                 0                6.0                      3

     WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
0                  1               6                  4
1                  3              10                  7
2                  3               0                  0
3                  3               8                  7
4                  3               2                  2
...              ...             ...                ...
1465               3               5                  2
1466               3               7                  7
1467               3               6                  2
1468               2               9                  6
1469               4               4                  3

      YearsSinceLastPromotion  YearsWithCurrManager
0                           0                     5
1                           1                     7
2                           0                     0
3                           3                     0
4                           2                     2
...                       ...                   ...
1465                        0                     3
1466                        1                     7
1467                        0                     3
1468                        0                     8
1469                        1                     2

[1470 rows x 35 columns]

### HW. Блок Pandas. Задача 7


- Вам дан датасет **hr-analysis-prediction.csv**
- Импортируйте pandas и напишите краткий алиас **pd**
- Прочитайте датасет hr-analysis-prediction.csv и запишите его в виде DataFrame в переменную **df**- Представьте, что датасет лежит в той же папке, что и ваш код
- Создайте переменную **dict_education**, куда запишите словарь (ключ тип int, значение тип str) с соответвующими значениями признака **Education**:
    - **1** соответсвует значению **Below College**
    - **2** соответсвует значению **College**
    - **3** соответсвует значению **Bachelor**
    - **4** соответсвует значению **Master**
    - **5** соответсвует значению **Doctor**
- Испольуя словарь **dict_education** произведите замену значений в признаке **Education**
- Чтобы в переменной **df** в признаке **Education** произошла замена, сделайте присваивание:

```python
df.Education = # ваш код"
```

In [38]:
# ваш код

import pandas as pd
df = pd.read_csv('/hr_analysis_prediction.csv')
dict_education = {
    1: 'Below College',
    2: 'College',
    3: 'Bachelor',
    4: 'Master',
    5: 'Doctor'
}
df.Education = df['Education'].map(dict_education)
print(df.Education)

0             College
1       Below College
2                 NaN
3              Master
4       Below College
            ...
1465          College
1466    Below College
1467         Bachelor
1468         Bachelor
1469         Bachelor
Name: Education, Length: 1470, dtype: object

### HW. Блок Pandas. Задача 8

- Вам дан датасет **hr-analysis-prediction.csv**
- Пусть ваш датасет уже записан в переменную **df** (заново прописывать не нужно)
- Создайте переменную **df1**, которой присвоите датасет **df** со столбцами **Age**, **Department**, **EducationField** и **DailyRate** (должен быть тип DataFrame)
- Создайте переменную **df2**, которой присвоите датасет **df** со столбцами **Department** и **EducationField** (должен быть тип DataFrame), также в **df2 необходимо УДАЛИТЬ дубли**
- Создайте переменную **result** и присвойте ей результат объединения **df1** и **df2** по столбцам **Department и EducationField** при помощи `pandas.merge()` (используйте тип соединения **inner**)
- Удаление дублей: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html

Пример:

```python
df1 = # ваш код
df2 = # ваш код
result = # ваш код

df1 = df[['Age', 'Department', 'EducationField', 'DailyRate']]
df2 = df[['Department', 'EducationField']].drop_duplicates()
result = pd.merge(df1, df2, on=['Department', 'EducationField'], how='inner')
print("df1:", df1)
print("df2:", df2)
print("result:", result)
```

### HW. Блок Pandas. Задача 9

- Представьте, что вам уже даны датасеты из задания 8 **df1** и **df2**
- Создайте переменную **result** и присвойте ей результат конкатенации **df1** и **df2** по столбцам (axis=1)

In [26]:
# ваш код
#task 8
print("task 8")
df1 = df[['Age', 'Department', 'EducationField', 'DailyRate']]
df2 = df[['Department', 'EducationField']].drop_duplicates()
result = pd.merge(df1, df2, on=['Department', 'EducationField'], how='inner')
print("df1:", df1)
print("df2:", df2)
print("result:", result)

#task 9
print("task 9")
result = pd.concat([df1, df2], axis=1)
print(result)

task 8
df1:       Age              Department EducationField  DailyRate
0      41                   Sales  Life Sciences       1102
1      49  Research & Development  Life Sciences        279
2      37  Research & Development          Other       1373
3      33  Research & Development  Life Sciences       1392
4      27  Research & Development        Medical        591
...   ...                     ...            ...        ...
1465   36  Research & Development        Medical        884
1466   39  Research & Development        Medical        613
1467   27  Research & Development  Life Sciences        155
1468   49                   Sales        Medical       1023
1469   34  Research & Development        Medical        628

[1470 rows x 4 columns]
df2:                   Department    EducationField
0                      Sales     Life Sciences
1     Research & Development     Life Sciences
2     Research & Development             Other
4     Research & Development           Medical
10                       NaN           Medical
11                       NaN     Life Sciences
27                     Sales         Marketing
33                     Sales  Technical Degree
45    Research & Development  Technical Degree
79           Human Resources           Medical
89                     Sales           Medical
96                     Sales             Other
100          Human Resources   Human Resources
134          Human Resources     Life Sciences
350          Human Resources  Technical Degree
1005         Human Resources             Other
result:       Age       Department    EducationField  DailyRate
0      41            Sales     Life Sciences       1102
1      53            Sales     Life Sciences       1219
2      36            Sales     Life Sciences       1218
3      33            Sales     Life Sciences       1141
4      27            Sales     Life Sciences        994
...   ...              ...               ...        ...
1465   35  Human Resources  Technical Degree        528
1466   34  Human Resources  Technical Degree       1107
1467   29  Human Resources             Other        332
1468   37  Human Resources             Other       1239
1469   38  Human Resources             Other       1444

[1470 rows x 4 columns]
task 9
      Age              Department EducationField  DailyRate  \
0      41                   Sales  Life Sciences       1102
1      49  Research & Development  Life Sciences        279
2      37  Research & Development          Other       1373
3      33  Research & Development  Life Sciences       1392
4      27  Research & Development        Medical        591
...   ...                     ...            ...        ...
1465   36  Research & Development        Medical        884
1466   39  Research & Development        Medical        613
1467   27  Research & Development  Life Sciences        155
1468   49                   Sales        Medical       1023
1469   34  Research & Development        Medical        628

                  Department EducationField
0                      Sales  Life Sciences
1     Research & Development  Life Sciences
2     Research & Development          Other
3                        NaN            NaN
4     Research & Development        Medical
...                      ...            ...
1465                     NaN            NaN
1466                     NaN            NaN
1467                     NaN            NaN
1468                     NaN            NaN
1469                     NaN            NaN

[1470 rows x 6 columns]

### HW. Блок Pandas. Задача 10

- Вам дан датасет **hr-analysis-prediction.csv**
- Импортируйте pandas и напишите краткий алиас **pd**
- Прочитайте датасет hr-analysis-prediction.csv и запишите его в виде DataFrame в переменную **df**
- Представьте, что датасет лежит в той же папке, что и ваш код
- Создайте переменную **dict_attrition**, куда запишите словарь (ключ тип str, значение тип int) с соответвующими значениями признака **Attrition**:
    - **Yes** соответсвует значению **1**
    - **No** соответсвует значению **0**
- Испольуя словарь **dict_attrition** произведите замену значений в признаке **Attrition**
- Чтобы в переменной **df** в признаке **Education** произошла замена, сделайте присваивание:

```python
df.Attrition = # ваш код
```

In [31]:
# ваш код

df = pd.read_csv("/hr_analysis_prediction.csv")
dict_attrition = {
    'Yes': 1,
    'No': 0
}
df.Attrition = df['Attrition'].map(dict_attrition)
print(df.Attrition)

0       1
1       0
2       1
3       0
4       0
       ..
1465    0
1466    0
1467    0
1468    0
1469    0
Name: Attrition, Length: 1470, dtype: int64

### HW. Блок Pandas. Задача 11


- Вам дан датасет **hr-analysis-prediction.csv**
- Пусть ваш датасет уже записан в переменную **df** (заново прописывать не нужно)
- Создайте переменную **result**, которой присвоите датасет подсчитанный следующим образом:
    - Необходимо подсчитать количество сотрудников в каждом из **Департаментов** (столбец Department), которые имеют **образование** (Education): **Bachelor** (соответсвует значению = 3) ИЛИ **Master** (соответсвует значению = 4)
    - Далее **отнормировать** на **ОБЩЕЕ** количество людей, имеющих перечисленные степени образования (если в каком то департаменте сотрудников с таким образованием нет, то его включать не нужно)
- Подсказка: задача решается в одну строку (value_counts). В лекции рассматривали метод, который имеет параметр для нормализации


Должны получиться следующие результаты (тип DataFrame, для этого используйте метод `to_frame`, названия Депаратметров - индексы в датафрейме):

|                        | percent  |
|------------------------|----------|
| Research & Development | 0.651270 |
| Sales                  | 0.302540 |
| Human Resources        | 0.046189 |

In [32]:
# ваш код

result = df[df['Education'].isin([3, 4])]['Department'].value_counts(normalize=True).to_frame('percent')
print(result)

                         percent
Research & Development  0.651270
Sales                   0.302540
Human Resources         0.046189

### HW. Блок Pandas. Задача 12


- Вам дан датасет **hr-analysis-prediction.csv**
- Пусть ваш датасет уже записан в переменную **df** (заново прописывать не нужно)
- Найдите параметры характеризующие разброс для признака **TotalWorkingYears** датасета **df**:
    - Создайте переменную **result_val_gen**, которой присвоите значение дисперсии для генеральной совокупности признака **TotalWorkingYears** (тип float)
    - Создайте переменную **result_val_sub**, которой присвоите значение дисперсии для выборки признака **TotalWorkingYears** (тип float)
    - Создайте переменную **result_std_gen**, которой присвоите значение среднеквадратического отклонения признака **TotalWorkingYears** (тип float)
    - Создайте переменную **result_std_sub**, которой присвоите значение стандартного отклонения признака **TotalWorkingYears** (тип float)
    - Создайте переменную **result_iqr**, которой присвоите значение IQR признака **TotalWorkingYears** (тип float)

In [33]:
# ваш код

result_val_gen = float(df['TotalWorkingYears'].var(ddof=0))
result_val_sub = float(df['TotalWorkingYears'].var(ddof=1))
result_std_gen = float(df['TotalWorkingYears'].std(ddof=0))
result_std_sub = float(df['TotalWorkingYears'].std(ddof=1))
result_iqr = float(df['TotalWorkingYears'].quantile(0.75) - df['TotalWorkingYears'].quantile(0.25))
print('result_val_gen: ', result_val_gen)
print('result_val_sub: ', result_val_sub)
print('result_std_gen: ', result_std_gen)
print('result_std_sub: ', result_std_sub)
print('result_iqr: ', result_iqr)

result_val_gen:  61.054035643750545
result_val_sub:  61.09679057067194
result_std_gen:  7.813708187778102
result_std_sub:  7.816443601195619
result_iqr:  9.0